.google-btn {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    white-space: nowrap;

    .label {
        font-family: serif;
        font-weight: normal;
    }
    .icon {
        background: url("../../../assets/img/auth/google.svg") transparent 5px 50% no-repeat;
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        height: 42px;
    }
    .text {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        font-weight: bold;
        /* Use the Roboto font that is loaded in the <head> */
        font-family: "Roboto", sans-serif;
    }

    &:hover {
        cursor: pointer;
    }
}