// colors
$PRIMARY: #f4436f;
$SECONDARY: #142738;
$INFO: #bdd3b6;
$SUCCESS: #e0e6ae;
$WARNING: #f2a297;
$DANGER: #ca1444;
$WHITE: #fff;
$BLACK: #000;

// fonts
.font-roboto {
  font-family: 'Roboto';
}

.font-quicksand {
  font-family: 'Quicksand';
}

// colors
.color-primary {
  color: $PRIMARY;
}

.color-secondary {
  color: $SECONDARY;
}

.color-info {
  color: $INFO;
}

.color-success {
  color: $SUCCESS;
}

.color-warning {
  color: $WARNING;
}

.color-danger {
  color: $DANGER;
}

.color-white {
  color: $WHITE;
}

.color-black {
  color: $BLACK;
}

// screens
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// mixins
@mixin grid($columns, $rows) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 1fr);
}

@mixin title ($color, $size) {
  color: $color;
  font-size: $size;
  font-weight: 500;
}
