.user-container {
    margin-top: 5%;

    h1 {
        margin-bottom: 20px;
    }
}

.search-users {
    margin-bottom: 20px;

    input {
        height: 25px;
        border-color: $SECONDARY;
        border-radius: 14px;
        width: 300px;
        color: $SECONDARY;
        font-size: 14px;
        padding: 5px;
    }
}