li {
  line-height: 40px;
  margin: 0 0px;
  padding: 0;
  text-align: center;
  display: inline-block;
  min-width: 5%;
}

a {
  text-decoration: none;
  font-size: 14px;
  position: relative;
  padding-right: 1.8rem;
  color: $WHITE;
}

.--active {
  color: $PRIMARY;
}
