.user-menu {
    position: relative;
    padding-left: 20px;

    .user-data {
        .user-image {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .user-name {
            color: $WHITE;
            padding-left: 10px;
            font-weight: 500;
            font-size: 14px;
        }

        .open-icon {
            color: $WHITE;
            padding-left: 10px;
            cursor: pointer;

            &.--open {
                transform: rotateX(180deg);
            }
        }
    }

    .user-menu-modal {
        transition: 1s ease-in-out 1s;
    }
}
