.button-back-container {
    padding: 2%;
    display: flex;
    position: absolute;
    a {
        font-size: 14px;
        color: white;
    }
}

.user-created {
    background-color: $WHITE;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}
